:root {
    --primary-text-color: #212121;
    --tittle-text-color: #757575;
    --accent-color-blue: #2196F3;
    --accent-color-white: #FFFFFF;
    --additional-text-color: #000000;
    --background-color-gray: #2F303A;
    --additional-text-transparent : rgba(255, 255, 255, 0.6);
    --background-color-for-button : #F5F4FA;
    --border-for-header-color: #ECECEC;
    --border-for-card-color:#EEEEEE;
    --social-link-color:#AFB1B8;
    --footer-background-icon:rgba(255, 255, 255, 0.1);
    --background-exemple-text: rgba(47, 48, 58, 0.8);
    --background-backdrop:rgba(0, 0, 0, 0.2);
    --background-color-portfolio:rgba(33, 150, 243, 0.9);
}