.header {
    border-bottom: 1px solid var(--border-for-header-color);

    &__position { 
margin-left: 15px;
margin-top: 16px;

        @media (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}
    &__nav { 
        @media (min-width: 768px) {
            margin-left: 93px;
        }
        
    }
    &__burger {
        position: absolute;
        top: 10px;
        right: 10px;

        fill: var(--accent-color-blue);
        border: none;
        background-color: var(--accent-color-white);

        @media (min-width: 768px)  {
            display: none;
            
        }
    }

}
